h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p {
  color: hsl(222, 10%, 41%);
  font-family: 'Muli', sans-serif;
}

body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  color: hsl(222, 10%, 41%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  transition: color 0.3s ease-in-out;
}

.subtitle-txt {
  font-weight: 200;
  font-style: normal;

  background-image: linear-gradient(to right, hsl(59, 100%, 80%) 100%,#fff 0);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 100% 30%;
}

.subtitle {
  font-size: 1.05rem;
  color: hsl(222, 10%, 41%);
}

.subtitle:hover {
  text-decoration: none;
  color: hsl(232, 100%, 74%);
}

.logo {
  padding: 30px;
}

/*
 * App header styling
 */

.header-container {
  margin: 40px;
  text-align: center;
}

@media(max-width: 400px) {
  .header-container {
    text-align: left;
    margin: 30px 15px 20px 15px;
  }
}

.header-container h1 {
  font-size: 3.3rem;
  font-weight: 200;
}

.header-container h3 {
  font-size: 1.3rem;
  font-weight: 200;
}

.add-btn {
  font-family: 'Muli', sans-serif;
  margin-top: 10px;
}

/*
 * Styling for individual note header & date info
 */

.info-wrapper {
  float: left;
}

.notes-header {
  background-color: hsl(184, 100%, 94%);
}

.note-info-wrapper {
  text-align: left;
}

.note-info-text {
  font-family: 'Muli', sans-serif;
  color: hsl(232, 100%, 74%);
  font-size: 1rem;
  font-weight: 700;

  background-image: linear-gradient(to right, hsl(59, 100%, 80%) 100%,#fff 0);
  background-position: 0 130%;
  background-repeat: repeat-x;
  background-size: 100% 50%;
}

/*
 * Delete/Edit note button styling 
 */

.note-wrapper {
  font-family: 'Muli', sans-serif;
  color: hsl(222, 10%, 41%);
  font-size: 1.1rem;
  font-weight: 300;
  text-align: left;
  margin: 0px 10px;
}

/*
 * Delete/Edit note button styling 
 */

.btns-div {
  float: right;
}

.edit-btn {
  float: right;
}

.delete-btn {
  float: right;
  margin-right: 1rem;
}

.submit-edits-btn {
  margin-top: 1rem;
  float: right;
}
